header {
    display: flex; 
    padding: 10px;
    padding-inline: 16px; 
    padding-block: 1px; 
    background-color:#333;
    color:white;
    align-items: center; 
    /* justify-content: space-between; */
}